{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!-- Stylesheets -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/mono-blue.min.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css">
	<link rel="stylesheet" href="https://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
</head>

<body alink="#FF0000" bgcolor="#D0ECD0" link="#0000EE" text="#000000" vlink="#551A8B">
	<form method="post" >
		{% csrf_token %}

		<div id="dialog-modal" title="提醒">
			<p>*本人已詳閱並瞭解政策中心<u>資訊系統組與電腦機房門禁管理辦法</u>相關規定與注意事項。</p>
			<p>*本中心為達場所進出人員的安全管理之目的，搜集個人資料之類別為C001及C061，包含訪客的姓名、服務單位、及聯絡電話等資料。本中心將於營運期間及地區內以訪客個資作為安全管理之用，必要時，將利用訪客電話進行聯絡。訪客可以電洽本中心行使個資法第3條的當事人權利之程序。</p>
		</div>
		<p>訪客資料</p>
		<table>
			<tr><td width="110">訪客姓名：</td><td><input type="text" id="Name" name="Name" placeholder="王大明" autocomplete="off" size="22" /></td><tr>
			<tr><td >身分證字號：</td><td><input type="text" id="ID" name="ID" placeholder="A123456789" autocomplete="off" maxlength="10" size="22"/></td></tr>
			<tr><td>聯絡電話：</td><td><input type="tel" id="Phone_number" name="Phone_number" placeholder="0912345678 or 02-1234567" autocomplete="off" maxlength="10" size="22"/></td></tr>
			<tr><td>電子郵件：</td><td><input type="email" id="Email" name="Email" placeholder="example@gmail.com" autocomplete="off" maxlength="30" size="22"/></td></tr>
		
		<!-- <div class="col-md-5" id="select-org"> -->
			<tr id="select-org"><td valign="top">所屬單位：</td><td><select id="select" class="form-control" >
				{% for objects in all_objects %}
					<option>{{ objects.org_name }}</option>
				{% endfor %}
			</select><button id="addorg" type="button" class="btn btn-link">無您所屬單位?</button></td></tr>
		</table>
		<!-- </div> -->
		
		<div id="neworg">
		<p>服務單位</p>
		<table>
			<tr><td width="110">單位名稱：</td><td><input type="text" id="Org_name" name="Org_name" placeholder="STPI" autocomplete="off" size="22"/></td></tr>
			<tr><td>傳真號碼：</td><td><input type="text" id="Fax" name="Fax" placeholder="02-1234567" autocomplete="off" size="22"/></td></tr>
		</table>
		</div>
	    <input type="button" id="check" value="送出">
	</form>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
	<script src="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
	<script>
		$(document).ready(function() {
	    $("#neworg").hide();
	    var org_name_select = "";
	    var org_click = false;
	    $('#select').editableSelect().on('select.editable-select', function(e, li) {
	        $('#last-selected').html(li.val() + '. ' + li.text());
	        org_name_select = li.text();
	    });
	    $("#addorg").click(function() {
	        $("#neworg").show();
	        $("#select-org").hide();
	        org_click = true;
	    });
	    $("#check").click(function() {
	        var Name = document.getElementById("Name").value;
	        var ID = document.getElementById("ID").value;
	        var Phone_number = document.getElementById("Phone_number").value;
	        var Email = document.getElementById("Email").value;
	        var OrgName = document.getElementById("Org_name").value;
	        var Fax = document.getElementById("Fax").value;
	        if ((Name == "") || (Phone_number == "") || (Email == "") || (ID == "")) {
	            alert("請輸入完整資訊");
	            return false;
	        } else if ((org_click == false) && (org_name_select == "")) {
	            alert("請輸入完整資訊");
	            return false;
	        } else if (org_click == true) {
	            if ((OrgName == "") || (Fax == "")) {
	                alert("請輸入完整資訊");
	                return false;
	            } else {
	                $.ajax({
	                    type: "post",
	                    data: {
	                        Org_name: org_name_select,
	                        ID: ID,
	                        Name: Name,
	                        Phone_number: Phone_number,
	                        Email: Email,
	                        OrgName: OrgName,
	                        FAX: Fax,
	                        'csrfmiddlewaretoken': '{{ csrf_token }}',
	                    },
	                    success: function(data) {
	                        var message = Name + "和" + OrgName + "新增成功";
	                        alert(message);
	                        location.href = '{% url 'login' %}';
	                    }
	                });
	            }
	        } else {
	            $.ajax({
	                type: "post",
	                data: {
	                    Org_name: org_name_select,
	                    ID: ID,
	                    Name: Name,
	                    Phone_number: Phone_number,
	                    Email: Email,
	                    OrgName: OrgName,
	                    FAX: Fax,
	                    'csrfmiddlewaretoken': '{{ csrf_token }}',
	                },
	                success: function(data) {
	                    var message = Name + "新增成功";
	                    alert(message);
	                    location.href = '{% url 'login' %}';
	                }
	            });
	        }
	    });

		
	});
	$(function() {
		$( "#dialog-modal" ).dialog({
			modal: true
		});
	});

	function test() {
	    alert(document.getElementById("select").value);
	}

	</script>
</body>

<script type="text/javascript">
</script>