{% load static %}
<!DOCTYPE html>
<html>

<head>
   <title>訪客簽到流程</title>
   <script src="{% static "jquery.min.js"%}"></script>
   <script src="{% static "jq-signature.js"%}"></script>
   <script src="{% static "jq-signature.min.js"%}"></script>
   <script type="text/javascript" src="{% static "adapter.min.js"%}"></script>
   <script type="text/javascript" src="{% static "vue.min.js"%}"></script>
   <script type="text/javascript" src="{% static "instascan.min.js"%}"></script>
   <link rel="stylesheet" href="{% static "trips/checkID.css"%}">
   <script type="text/javascript" src="{% static "trips/checkID.js"%}"></script>
</head>

<body onload="ShowTime()" style="background-color:#CCCCCC;">
  <div class="div_right_top">
    <a href="/">回首頁</a>
  </div>
  <div class="loginmodal-container">
    <center>
      <div style="font-size:30px;padding-bottom:50px; ">請輸入身分證字號</div>
    </center>
    <input id="ID" maxlength="10" name="ID" placeholder="A123456789" style="font-size:40px;height:90px;" type="text"> 
    <input class="login loginmodal-submit" id="send" name="login" type="submit" value="送出">
    <div class="login-help" style="font-size:20px;">
      第一次來訪請<a href="/addID" style="text-decoration:underline;">新增</a>
    </div>
  </div>
<div id="showbox" class="div_right_bottom"></div>
</body>

<script type="text/javascript">
   $(document).ready(function() {
       $("#send").click(function() {
           var value = document.getElementById("ID").value;
           if(!checkID(value)){
            document.getElementById("ID").value = "";
            alert("請輸入正確的身分證字號");
           }
           else{
            $.ajax({
               type: "post",
               data: {
                   ID: value,
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
               },
               success: function(data) {
                   if (data.name != "Not found") {
                       var message = "請問你是" + data.name + "嗎？"
                       var check = confirm(message)
                       if (check) {
                           location.href = '{% url 'login' %}';
                       } else {
                           document.getElementById("ID").value = "";
                           alert("請重新填寫身分證字號");
                       }

                   } else {
                       document.getElementById("ID").value = "";
                       alert("查無此人資料，請重新填寫或點選新增按鈕");
                   }
               }
           });

           }//end else

       });
       $("#add").click(function() {
         location.href = "/addID";
       });
   });
</script>

</html>
