{% load static %}
<!DOCTYPE html>
<html>
<style type="text/css">
section {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.div_right_bottom {
	width:300px;
	float:right;
	position:fixed;
	right:0px;
	bottom:20px;
}
</style>
<head>
	<link rel="stylesheet" href="{% static "bootstrap.min.css"%}" >
	<link rel="stylesheet" href="{% static "grayscale.css"%}" >
</head>


<body  onload="ShowTime()" style="background-color:#CCCCCC;"" >
	<div style="margin:100px;">
		<center>
			<h1>國家實驗研究院科技政策研究與資訊中心</h1>
			<h1>訪客進出系統</h1>
		</center>
	
	<section>	

		<div class="container d-flex h-100 align-items-center">
			<div class="mx-auto text-center">
          		<button class="btn btn-primary btn-lg" onclick="window.location.href='{% url 'checkID' %}'" style="width:200px; height:100px; font-size: 30px;">簽到</button>
				<button class="btn btn-primary btn-lg" onclick="window.location.href='{% url 'logout' %}'" style="width:200px; height:100px; font-size: 30px;">簽退</button>
        	</div>
		</div>
	</section>
	</div>
	<div id="showbox" class="div_right_bottom"></div>

<script type="text/javascript">
function ShowTime() {
    d = new Date();
    document.getElementById('showbox').innerHTML = "現在時間：" + d.toLocaleString();
    setTimeout('ShowTime()', 1000);
}
</script>


</body>
</html>
