{% load static %}
<!DOCTYPE html>
<html>

<head>
    <script src="{% static "jquery.min.js"%}"></script>
    <script src="{% static "jq-signature.js"%}"></script>
    <script src="{% static "jq-signature.min.js"%}"></script>
    <script type="text/javascript" src="{% static "adapter.min.js"%}"></script>
    <script type="text/javascript" src="{% static "vue.min.js"%}"></script>
    <script type="text/javascript" src="{% static "instascan.min.js"%}"></script>
</head>

<body alink="#FF0000" bgcolor="#D0ECD0" link="#0000EE" text="#000000" vlink="#551A8B">
    <center>
    <div id="first" class="container" style="height: 100vh;font-size: 50px">
        <div >
            進入目的：
            <select id="Purpose" style="width: 250px; height:60px; font-size: 40px">   
                <option value="" selected></option>
                <option value="one">例行維護</option>
                <option value="two">故障檢修</option>
                <option value="three">設備安裝設定</option>
                <option value="four">環境施工</option>
                <option value="five">商務拜訪</option>
                <option value="five">其他</option>
            </select>
        </div>
        <div>
            進出區域：
            <select id="Visit_area" style="width: 250px; height:60px; font-size: 40px">
                <option value="" selected></option>
                <option value="one">辦公室</option>
                <option value="two">研討室</option>
                <option value="three">工作區</option>
                <option value="four">電腦機房</option>
            </select>
        </div>
        <div>
            接洽同仁：
            <select id="Host" style="width: 250px; height:60px; font-size: 40px">
                <option value="" selected></option>
                <option value="one">百立</option>
                <option value="two">俊銘</option>
                <option value="three">凱庭</option>
            </select>
        </div>
        <div>請在下方空白處簽名：</div>
        <div class="js-signature" data-width="600" data-height="300" data-border="1px solid black" data-line-color="#bc0000" data-auto-fit="false"></div>
<!--         //重新簽名 -->
<!--         <button id="clearBtn" class="btn btn-default" onclick="clearCanvas();">Clear</button>&nbsp; -->
        <button id="saveBtn" class="btn btn-default" onclick="nextStep();" style="width:120px;height:60px;font-size:30px;">下一步</button>
    </div>

    <div id="app" style="height: 100vh">
        <div class="sidebar">
            <section class="scans">
                <h2>請掃描QR code</h2>
                <!-- print content -->
                <!-- <ul v-if="scans.length === 0">
                    <li class="empty">No scans yet</li>
                </ul>
                <transition-group name="scans" tag="ul">
                    <li v-for="scan in scans" :key="scan.date" :title="scan.content">{ scan.content }</li>
                </transition-group> -->
            </section>
        </div>

        <div class="preview-container">
            <video id="preview"></video>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static "jquery.min.js"%}"></script>
    <script src="{% static "jq-signature.js"%}"></script>
    <script>
        $(document).on('ready', function() {
            if ($('.js-signature').length) {
                $('.js-signature').jqSignature();
            }
        });
        function clearCanvas() {
            $('.js-signature').eq(0).jqSignature('clearCanvas');
        }
        function nextStep(){
            // var dataUrl = $('.js-signature').eq(0).jqSignature('getDataURL');
            var purpose = document.getElementById("Purpose").value;
            var visit_area = document.getElementById("Visit_area").value;
            var host = document.getElementById('Host').value;
            if (purpose == "" || visit_area == "" || host == "") {
                alert("請填入完整資訊");
                return false;
            }
            location.href='#app';
        }
    </script>
    <script type="text/javascript">
        var app = new Vue({
            delimiters: ['{', '}'],
            el: '#app',
            data: {
                scanner: null,
                activeCameraId: null,
                cameras: [],
                scans: []
            },
            mounted: function() {
                var self = this;

                self.scanner = new Instascan.Scanner({
                    video: document.getElementById('preview'),
                    scanPeriod: 5
                });

                self.scanner.addListener('scan', function(content, image) {
                    self.scans.unshift({
                        date: +(Date.now()),
                        content: content
                    });
                    var dataUrl = $('.js-signature').eq(0).jqSignature('getDataURL');
                    var purpose = document.getElementById("Purpose").value;
                    var visit_area = document.getElementById("Visit_area").value;
                    var host = document.getElementById("Host").value;
                    $.post("", {
                        'purpose': purpose,
                        'visit_area': visit_area,
                        'url': dataUrl,
                        'key': content,
                        'host': host,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    }, function(data, status) {
                        if(status=="success"){
                            var name = data.name + " 簽到成功";
                            alert(name);
                        }
                        else{
                            alert("error");
                        }
                    });
                    
                    var time = 1;
                    setInterval(function() {
                        if (time > 0) {
                            time--;
                        } else {
                            location.href = "/"; 
                        }
                    }, 1000)
                });

                Instascan.Camera.getCameras().then(function(cameras) {
                    self.cameras = cameras;
                    if (cameras.length > 0) {
                        self.activeCameraId = cameras[0].id;
                        self.scanner.start(cameras[0]);
                    } else {
                        console.error('No cameras found.');
                    }
                }).catch(function(e) {
                    console.error(e);
                });

            },
            methods: {}
        });
    </script>
    </center>
</body>

</html>