{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>訪客簽到流程</title>
    <script src="{% static "jquery.min.js"%}"></script>
    <script src="{% static "jq-signature.js"%}"></script>
    <script src="{% static "jq-signature.min.js"%}"></script>
    <script type="text/javascript" src="{% static "adapter.min.js"%}"></script>
    <script type="text/javascript" src="{% static "vue.min.js"%}"></script>
    <script type="text/javascript" src="{% static "instascan.min.js"%}"></script>
       <link rel="stylesheet" href="{% static "trips/login.css"%}">
   <script type="text/javascript" src="{% static "trips/checkID.js"%}"></script>
</head>


<body onload="ShowTime()" style="background-color:#CCCCCC;">
    <div class="div_right_top">
        <a href="/">回首頁</a>
    </div>
    <div class="container" id="first" style="height: 100vh;">
        <div class="loginmodal-container">
            <h1>請選擇拜訪資訊</h1>
            <table>
                <tr>
                    <td>進入目的：</td>
                    <td><select id="Purpose">
                        <option selected value=""></option>
                        <option value="0">技術性作業</option>
                        <option value="1">拜訪及會議討論</option>
                    </select></td>
                </tr>
                <tr>
                    <td>進出區域：</td>
                    <td><select id="Visit_area">
                        <option selected value=""></option>
                        <option value="0">辦公區域</option>
                        <option value="1">電腦機房</option>
                    </select></td>
                </tr>
                <tr>
                    <td>接洽同仁：</td>
                    <td><select id="Host">
                        <option selected value=""></option>
                        <option value="0">黃百立</option>
                        <option value="1">莊峻沛</option>
                        <option value="2">金禹天</option>
                        <option value="3">張麗環</option>
                        <option value="4">吳宏德</option>
                        <option value="5">鍾振明</option>
                        <option value="6">吳坤達</option>
                        <option value="7">黃俊銘</option>
                        <option value="8">林彥廷</option>
                        <option value="9">顏志宏</option>
                        <option value="10">莊嘉怡</option>
                        <option value="11">許純茹</option>
                        <option value="12">張琇茵</option>
                    </select></td>
                </tr>
            </table>
            <h4>請在下方空白處簽名</h4>
            <div class="js-signature" data-auto-fit="false" data-border="1px solid black" data-height="250" data-line-color="#bc0000" data-width="600"></div><!--         //重新簽名 -->
            <!--         <button id="clearBtn" class="btn btn-default" onclick="clearCanvas();">Clear</button>&nbsp; -->
            <div style="text-align: center;">
                <button class="btn btn-default" id="saveBtn" onclick="nextStep();" style="width:100px;height:50px;font-size:15px;">下一步</button>
            </div>
        </div>
        <div class="div_right_bottom" id="showbox"></div>
    </div>

    <div id="app" style="height:90vh">
        <div class="div_right_top">
            <a href="/">回首頁</a>
        </div>
        <center>
            <div class="sidebar">
                <section class="scans">
                    <h2>請掃描識別證後方的QR code</h2><!-- print content -->
                    <!-- <ul v-if="scans.length === 0">
                    <li class="empty">No scans yet</li>
                </ul>
                <transition-group name="scans" tag="ul">
                    <li v-for="scan in scans" :key="scan.date" :title="scan.content">{ scan.content }</li>
                </transition-group> -->
                </section>
            </div>
            <div class="preview-container">
                <video id="preview"></video>
            </div>
        </center>
        <div class="div_right_bottom" id="showbox"></div>
    </div>

    <!-- Scripts -->
    <script src="{% static "jquery.min.js"%}"></script>
    <script src="{% static "jq-signature.js"%}"></script>
    <script>
        $(document).on('ready', function() {
            if ($('.js-signature').length) {
                $('.js-signature').jqSignature();
            }
        });
        function clearCanvas() {
            $('.js-signature').eq(0).jqSignature('clearCanvas');
        }
        function nextStep() {
            // var dataUrl = $('.js-signature').eq(0).jqSignature('getDataURL');
            var purpose = document.getElementById("Purpose").value;
            var visit_area = document.getElementById("Visit_area").value;
            var host = document.getElementById('Host').value;
            if (purpose == "" || visit_area == "" || host == "") {
                alert("請填入完整資訊");
                return false;
            }
            location.href = '#app';
        }
    </script>
    <script type="text/javascript">
        var app = new Vue({
            delimiters: ['{', '}'],
            el: '#app',
            data: {
                scanner: null,
                activeCameraId: null,
                cameras: [],
                scans: []
            },
            mounted: function() {
                var self = this;
                self.scanner = new Instascan.Scanner({
                    video: document.getElementById('preview'),
                    scanPeriod: 5
                });
                self.scanner.addListener('scan', function(content, image) {
                    self.scans.unshift({
                        date: +(Date.now()),
                        content: content
                    });
                    var dataUrl = $('.js-signature').eq(0).jqSignature('getDataURL');
                    var purpose = document.getElementById("Purpose").value;
                    var visit_area = document.getElementById("Visit_area").value;
                    var host = document.getElementById("Host").value;
                    $.post("", {
                        'purpose': purpose,
                        'visit_area': visit_area,
                        'url': dataUrl,
                        'key': content,
                        'host': host,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    }, function(data, status) {
                        if (status == "success") {
                            var name = data.name + " 簽到成功";
                            alert(name);
                            location.href = "/confirm";
                        } else {
                            alert("錯誤");
                            return false;
                        }
                    });
                });
                Instascan.Camera.getCameras().then(function(cameras) {
                    self.cameras = cameras;
                    if (cameras.length > 0) {
                        self.activeCameraId = cameras[0].id;
                        self.scanner.start(cameras[0]);
                    } else {
                        console.error('No cameras found.');
                    }
                }).catch(function(e) {
                    console.error(e);
                });
            },
            methods: {}
        });
    </script>
</body>
</html>