{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Instascan &ndash; Demo</title>
    <script type="text/javascript" src="{% static "adapter.min.js" %}"></script>
    <script src="{% static "jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "vue.min.js" %}"></script>
    <script type="text/javascript" src="{% static "instascan.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap.min.css"%}" >
</head>

<!-- <body alink="#FF0000" bgcolor="#D0ECD0" link="#0000EE" text="#000000" vlink="#551A8B"> -->
<body style="background-color:#CCCCCC;">
    <center>
    <div id="app" style="height:100vh; margin:10vh; ">
        <div class="sidebar">
            <section class="scans">
                <h2>請掃描識別證後方的QR code</h2>
                <!-- print content -->
                <!-- <ul v-if="scans.length === 0">
                    <li class="empty">No scans yet</li>
                </ul>
                <transition-group name="scans" tag="ul">
                    <li v-for="scan in scans" :key="scan.date" :title="scan.content">{ scan.content }</li>
                </transition-group> -->
            </section>
        </div>

        <div class="preview-container">
            <video id="preview"></video>
        </div>
    </div>
    </center>

    <script type="text/javascript">
        var app = new Vue({
        delimiters: ['{', '}'],
        el: '#app',
        data: {
            scanner: null,
            activeCameraId: null,
            cameras: [],
            scans: []
        },
        mounted: function() {
            var self = this;
            var pk = document.getElementById("myVar");
            self.scanner = new Instascan.Scanner({
                video: document.getElementById('preview'),
                scanPeriod: 5
            });
            self.scanner.addListener('scan', function(content, image) {
                self.scans.unshift({
                    date: +(Date.now()),
                    content: content
                });
                var check = prompt("請輸入身分證後四碼以驗證身份");
                $.post("", {
                        'ID': check,
                        'key': content,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    function(data, status) {
                        if (data.name != "Not found" && data.check) {
                            var message = data.name + " 簽退成功";
                            alert(message);
                            location.href = "/";
                        } else {
                            alert("請輸入 正確驗證碼 及 QR code 以完成簽退流程");
                            return false;
                        }
                    });
            });
            Instascan.Camera.getCameras().then(function(cameras) {
                self.cameras = cameras;
                if (cameras.length > 0) {
                    self.activeCameraId = cameras[0].id;
                    self.scanner.start(cameras[0]);
                } else {
                    console.error('No cameras found.');
                }
            }).catch(function(e) {
                console.error(e);
            });

        },
        methods: {}
    });
    </script>
</body>

</html>